.home-container {
    text-transform: capitalize;
}

.home-group-title {
    
    text-transform: capitalize;
}



.MuiList-root {
    text-transform: capitalize;
}

.home-section-two {
    width: 75%;
    padding: 5%;
}

.home-group-description {
    width: 75%;
    height: 100%;

}

